* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --min-width: 480px;

    --card-br: 3rem;
    --card-t-b-height: 4rem;
    --card-bg: #495df5;
    --card-margin-top: 4rem;

    --color-primary: #495df5;
}

body {
    background-color: #333333;
    color: #ffffff;
    font-family: roboto;

    display: flex;
    justify-content: center;
}


.weather-box {
    
    .weather-box-info {
        width: var(--min-width);
        height: 678px;
        background-color: var(--card-bg);

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .weather-date {
            font-size: 1rem;
        }

        .weather-city {
            margin-top: .4rem;
            font-size: 4rem;
        }

        .weather-icon {
            width: 24rem;
            margin-top: -2rem;
            margin-bottom: -2rem;
        }

        .weather-degrees {
            font-size: 8rem;;
        }

        .weather-description {
            margin-top: -.6rem;
            font-size: 1.2rem;
        }
    }
    .weather-box-top {
        height: var(--card-t-b-height);
        background-color: var(--card-bg);
        display: flex;
        justify-content: end;
        align-items: center;
        padding-right: .5rem;
        button {
            color: #ffffff;
            background: none;
            border: none;
            cursor: pointer;
        }
        i {
            font-size: 2rem;
        }
    }
    .weather-box-bottom {
        height: var(--card-t-b-height);
        background-color: var(--card-bg);
        border-radius: 0 0 var(--card-br) var(--card-br);
    }
}

#nav-bar {
    width: 380px;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;

    input {
        background-color: #ffffff;
        width: 70%;
        height: 3rem;
        border-radius: 1.8rem 0 0 1.8rem;
        border: 0;
        padding-left: 1.8rem;
    }

    button {
        height: 3rem;
        width: 30%;
        border: 0;
        background-color: #ffffff;
        color: #000000;
        border-radius: 0 1.8rem 1.8rem 0;
        transition: background-color 0.3s ease, color 0.3s ease;
    }

    button:hover {
        background-color: var(--color-primary);
        color: #ffffff;
    }

    /* background-color: #495df5; */
}

#container-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}