:root {
  /* Grayscale */
  --able-gray-10: #141414;
  --able-gray-20: #2d2d2d;
  --able-gray-30: #3c3c3c;
  --able-gray-40: #484848;
  --able-gray-50: #646464;

  /* Text */
  --able-text: #eeeeee;

  /* Vibrant accents */
  --able-hot-pink: #ff39d4;
  --able-fuchsia-tom: #ff2b6f;
  --able-peach: #ffa374;
  --able-coral: #ff94a6;
  --able-cyan: #19e9ff;
  --able-aqua: #5cffe8;
  --able-orange: #f39420;
  --able-lemon: #fff034;
  --able-pale-yellow: #f7f47c;

  /* Weather på */

  --w-blue: #7597b8;
  --w-yellow: #f7e8be;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background: linear-gradient(var(--w-blue), var(--w-yellow));
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;

  height: 100vh;
  color: var(--able-text);
  gap: 75px;
  text-align: center;
}

#searchBtn,
#cityInput {
  padding: 10px;
}

#cityInput::placeholder {
  font-style: italic;
}

#displayIcon {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  font-size: 75px;
  margin-bottom: 50px;
  /* background-color: rgba(255, 255, 255, 0.3);
  height: 175px;
  width: 175px;
  border-radius: 25px; */
}

#weatherInfo {
  font-size: 30px;
  margin-bottom: 15px;
}

#infoGet {
  font-size: 15px;
  font-style: italic;
}

#bkgCol {
  padding: 25px;
  border-radius: 25px;
  box-shadow: 0px 1px 29px 0px rgba(0, 0, 0, 0.38);
  background-color: rgba(90, 90, 90, 0.1);
  /* -webkit-box-shadow: 0px 1px 29px 0px rgba(0, 0, 0, 0.38);
  -moz-box-shadow: 0px 1px 29px 0px rgba(0, 0, 0, 0.38); */
}
