* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --min-width: 420px;
  --max-width: 600px;

  --card-br: 3rem;
  --card-t-b-height: 4rem;
  --card-bg: #4e4e4e;
  --card-margin-top: 4rem;

  --color-primary: #495df5;
}

body {
  background-color: var(--card-bg);
  color: #ffffff;
  font-family: roboto;
  height: 100vh;
}

#cards-container:has(.weather-card:nth-child(n + 2)) .weather-card {
  border-radius: var(--card-br) var(--card-br) var(--card-br) var(--card-br);
}

.weather-card {
  margin-bottom: 2rem;
  background-color: var(--card-bg);
  border-radius: 0 0 var(--card-br) var(--card-br);
  width: 80%;
  min-width: var(--min-width);
  max-width: var(--max-width);
  height: calc(100vh - 8rem);
  min-height: 40rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  .weather-card-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .weather-date {
      font-size: 1rem;
    }

    .weather-city {
      margin-top: 0.4rem;
      font-size: 4rem;
    }

    .weather-icon {
      width: 20rem;
      margin-top: -2rem;
      margin-bottom: -2rem;
    }

    .weather-degrees {
      font-size: 8rem;
    }

    .weather-description {
      margin-top: -0.6rem;
      font-size: 1.2rem;
    }
  }
  .weather-card-top {
    height: var(--card-t-b-height);
    /* background-color: var(--card-bg); */
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 0.5rem;
    button {
      color: #ffffff;
      background: none;
      border: none;
      cursor: pointer;
    }
    i {
      font-size: 2rem;
    }
  }
  .weather-card-bottom {
    height: var(--card-t-b-height);
  }
}

#nav-bar {
  margin-bottom: 2rem;
  width: 60%;
  min-width: calc(var(--min-width) - 4rem);
  max-width: calc(var(--max-width) - 10rem);
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  input {
    background-color: #ffffff;
    width: 100%;
    height: 3rem;
    border-radius: 1.8rem 0 0 1.8rem;
    border: 0;
    padding-left: 1.8rem;
  }
}

button {
  height: 3rem;
  width: 4rem;
  border: 0;
  background-color: #ffffff;
  color: #000000;
  cursor: pointer;
  border-radius: 0 1.8rem 1.8rem 0;
  transition: background-color 0.3s ease, color 0.3s ease;
  i {
    font-size: 1.2rem;
  }
}

button:hover {
  background-color: var(--color-primary);
  color: #ffffff;
}

#container-main {
  width: 100%;
}

#cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#nav-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather-card {
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.weather-card.removing {
  opacity: 0;
  transform: translateX(200px);
}
